*{
margin : 0;
padding : 0;
}
#wrapper{
width : 950px;
margin : 0 auto;
}
#header{
margin-top : 5px;
height : 27px;
border-bottom: 1px dashed #D4D4D4;
position : relative;
}
#footer{
padding-top : 7px;
margin-top : 10px;
border-top: 1px solid #CCC;
font: 13px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}
#AlgorithmName{
font-size : 21px;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-weight : bold;
float : left;
}
#AlgorithmControlBar{
margin-bottom : 10px;
border-bottom : 1px dashed #D4D4D4;
background-color: #F3F3F3;
}
#AlgorithmControlBar input{
padding : 2px;
margin : 5px;
}
#AlgorithmControlBar input[type="text"]{
width : 88px;
}
#author{
float : left;
}
#copyright{
float : right;
}
.debug{
float : right;
}
#Pause{
position : relative;
left : 255px;
width : 46px;
}
#CanvasControlBar{
float : right;
}
#SpeedBar{
float : right;
margin-right: 70px;
width: 188px; 
}
.jslider-label span{
display : none;
}
.jslider-value span{
display : none;
}

